body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
#footer {
    text-align: center;
    align-self: flex-start;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
}
#footer a {
    color: inherit;
    text-decoration: none;
}

#footer a:hover {
    color: underline; /* 鼠标悬停时的颜色，你可以根据需要进行调整 */
}


.input-wrapper {
    display: flex;
    align-items: center;
}

input {
    flex: 1;
    padding: 12px; /* 调整输入框内文字的字体大小和上下间距 */
    font-size: 16px; /* 调整输入框内文字的字体大小 */
    margin-right: 10px;
}

button {
    padding: 12px 20px; /* 增大按钮的内边距，使确定两字加大 */
    font-size: 16px; /* 增大按钮上的文字字体大小 */
}

#output {
    margin-top: 20px;
    word-wrap: break-word;
    white-space: pre-line;
}

#submit.clicked {
    background-color: #f0f0f0;
}

/* 移动端适配，根据屏幕宽度调整字体大小 */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }

    input {
        font-size: 14px;
        padding: 10px;
    }

    button {
        padding: 10px 16px;
        font-size: 14px;
    }
}
