body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.input-wrapper {
    display: flex;
    align-items: center;
}

input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
}

button {
    padding: 10px;
}

#output {
    margin-top: 20px;
    word-wrap: break-word;
    white-space: pre-line;
}

#submit.clicked {
    background-color: #f0f0f0;
}
