body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex; /* 将body设置为Flex容器 */
    flex-direction: column; /* 垂直排列子项 */
    min-height: 100vh; /* 确保body至少占满一屏的高度 */
}

main {
    flex-grow: 1; /* 让main元素占据剩余的垂直空间 */
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 a {
    text-decoration: none;
    color: inherit;
}

/* 鼠标悬停效果 */
h1 a:hover {
    text-decoration: underline; /* 鼠标悬停时显示下划线 */
}

#footer {
    text-align: center;
    margin-right: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
}

#footer a {
    color: inherit;
    text-decoration: underline;
}

#footer a:hover {
    color: underline; /* 鼠标悬停时的颜色，你可以根据需要进行调整 */
}

.input-wrapper {
    display: flex;
    align-items: center;
}

input {
    flex: 1;
    padding: 12px; /* 调整输入框内文字的字体大小和上下间距 */
    font-size: 16px; /* 调整输入框内文字的字体大小 */
    margin-right: 10px;
}

button {
    padding: 12px 20px; /* 增大按钮的内边距，使确定两字加大 */
    font-size: 16px; /* 增大按钮上的文字字体大小 */
}

#result {
    margin-top: 20px;
    word-wrap: break-word;
    white-space: pre-line;
}

.red-text {
    color: red;
}

#submit.clicked {
    background-color: #f0f0f0;
}

/* 移动端适配，根据屏幕宽度调整字体大小 */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 24px;
    }
	h1 a:active {
        transform: scale(1.1); /* 移动端点击时的标题放大效果 */
    }

    p {
        font-size: 14px;
    }

    input {
        font-size: 14px;
        padding: 10px;
    }

    button {
        padding: 10px 16px;
        font-size: 14px;
    }
}

#validCount,
#count {
  line-height: 0.6; /* 调整行距的值，可以根据需要进行调整 */
}


#result {
  line-height: 1.5; 
}
